{{#if loggedIn}}
<nav class="header navbar navbar-toggleable-md navbar-inverse bg-inverse">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <h1 class="navbar-brand">Eden RPG</h1>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">{{text 'items' lang}}</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/chars">{{text 'characters' lang}}</a>
          </li>
        </ul>
        <ul class="navbar-nav">
          {{#if loggedIn}}
            <li class="nav-item dropdown active">
              <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{session.username}}</a>
              <div class="dropdown-menu" aria-labelledby="dropdown01">
                <a class="dropdown-item" href="/logout">{{text 'logout' lang}}</a>
              </div>
            </li>
          {{else}}
            <li class="nav-item active">
              <a class="nav-link" href="/login">{{text 'login' lang}}</a>
            </li>           
            <li class="nav-item active">
              <a class="nav-link" href="/register">{{text 'register' lang}}</a>
            </li> 
          {{/if}}
        </ul>
      </div>
    </nav>

{{/if}}