<html>
  
  {{> header}}

	<body>
    <h1 class = "text-center title">{{text 'changelog' lang}}</h1>
    
    {{#each changeLog}}
      <div class="card">
        <div class="card-header">
          {{text 'changes_on' @root.lang}} {{version}} - {{text 'released_on' @root.lang}} {{released}}
        </div>
        <div class="card-block">
          <ul class="list-group"> 
            {{#if (eq @root.lang 'eng')}}
              {{#each changes}}
                <li class="list-group-item">{{this}}</li>
              {{/each}}
              {{else}}
              {{#each k_changes}}
                <li class="list-group-item">{{this}}</li>
              {{/each}}
            {{/if}}
            {{#each commit_urls}}
              <li class="list-group-item"><a href="{{this}}">{{this}}</a></li>
            {{/each}}
          </ul>
        </div>
      </div>     
    {{/each}}
    
  </body>
  
  <style>
    .card, .footer {
      margin-top: 30px;
    }  
    .card-header {
      background-color: #d9edf7
    }
    
    
  </style>
  
  {{> common-scripts}}
  
</html>