<div class = "content container-fluid d-flex h-100 flex-column" style="padding:20px">
  <div class = "row bg-faded fill d-flex justify-content-start">
    <div class = "col-3">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist">
        {{#each types}} 
            <a class="nav-link text-capitalize {{#if @first}}active{{/if}}" id="{{this}}-tab" data-toggle="pill" href="#{{this}}" role="tab" aria-controls="{{this}}" aria-expanded="{{@first}}">{{text this @root.lang}}</a>
        {{/each}} 
      </div>
    </div>
    <div class = "col-9 container-fluid d-flex h-100 flex-column">
      <div class="tab-content" id="v-pills-tabContent">
            {{#each types}}
              <div class="tab-pane fade {{#if @first}}show active{{/if}}" id="{{this}}" role="tabpanel" aria-labelledby="{{this}}-tab" aria-expanded="{{@first}}>
                <ul class="list-group">
                  {{#each (lookup @root.build this)}}
                    <li class="list-group-item">
                      {{#with (lookup @root.items this)}}
                        {{{item this @root.lang}}}
                        {{#if materials}}
                          <button style="margin-left: 20px" data-item="{{../this}}" class = "btn btn-info build-tree" data-toggle="modal" data-target="#item-tree-modal">{{text 'View Build Tree' @root.lang}}</button>
                        {{/if}}
                      {{/with}}
                    </li>
                  {{/each}}
                </ul>
              </div>
            {{/each}}
      </div>
      <div style = "margin:20px" class = "fill d-flex justify-content-start">
        <div class = "img"></div>
      </div>
    </div>
  </div>
<div class = "footer text-center">
    <a class = "btn btn-info" href = "/chars">{{text 'back_characters' lang}}</a>
</div>
</div>


  <style>

  html,body {
      height: 100%;
  }

  .fill {
      flex:1;
  }

  .img { 
    flex: 1;
    width: auto;
    height: 100%;
    background-size: contain; 
    background-position: center center; 
    background-repeat: no-repeat; 
    background-image: url("{{getImage build}}");
  }
  </style>

